.footer {
  padding: 20px 0;
  background: linear-gradient(135deg, #011935, #125967, #07869f);
  margin-top: auto;
  position: relative;
  color: #f8f9fa;
}

.footer h5 {
  color: #ffffff;
}

.footer p, .footer li {
  color: #d3d3d3;
}

.footer .social-icons button {
  background: none;
  border: none;
  color: #ffffff;
  margin: 0 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer .social-icons button:hover {
  color: #007bff;
  transform: scale(1.2);
}

.footer .copy-right {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #d3d3d3;
}

.back-to-top {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.back-to-top:hover {
  background-color: #8a8a8a;
  transform: scale(1.1);
}

.text-center {
  text-align: center;
}

.text-lg-start {
  text-align: left;
}

.text-uppercase {
  text-transform: uppercase;
}

.bg-dark {
  background-color: #343a40;
}

.text-light {
  color: #f8f9fa;
}

p {
  margin-bottom: 1rem;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #dcdcdc;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer .container > * {
  flex: 1 1 30%;
  margin: 10px;
}

@media (max-width: 768px) {
  .footer .container {
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
  }

  .back-to-top {
    top: 15px;
    right: 15px;
  }

  .footer .container > * {
    flex: 1 1 100%;
    text-align: center;
    margin: 10px 0;
  }
}
