/* Add this to ImageSlider.css */

.custom-container {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 10px #fff;
  border-radius: 25px;
  padding: 10px;
  overflow: hidden;
}

.imageslider .carousel-caption {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.carousel-item {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  position: relative;
}

.custom-container img {
  border-radius: 15px;
  aspect-ratio: 3 / 1.25;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.custom-container img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.custom-container .carousel-control-prev,
.custom-container .carousel-control-next {
  width: 5%;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.custom-container .carousel-control-prev:hover,
.custom-container .carousel-control-next:hover {
  opacity: 1;
}

.custom-container .carousel-indicators li {
  background-color: #fff;
  border: 1px solid #000;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.custom-container .carousel-indicators li:hover,
.custom-container .carousel-indicators .active {
  background-color: #000;
  transform: scale(1.2);
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .custom-container img {
    aspect-ratio: 3 / 1;
  }
}

@media (max-width: 576px) {
  .custom-container img {
    aspect-ratio: 3 / 1;
  }

  .custom-container .carousel-control-prev,
  .custom-container .carousel-control-next {
    display: none;
  }
}
