.slider-container {
  margin: 20px;
  padding: 20px;
  background: linear-gradient(135deg, #011935,#125967, #07869f);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-slider-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
  gap: 20px;
}

.product {
  text-align: center;
  flex: 0 0 calc(20% - 20px);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.product-image {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}

.product-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 25px;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.scroll-button.left {
  left: 10px;
  background-color: #011935;
}

.scroll-button.right {
  right: 10px;
  background-color: #011935;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #035060;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #007a92;
}
