/* Add this to SideMenu.css */

.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: linear-gradient(135deg, #011935,#125967, #07869f);
  color: white;
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 10;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
}

.side-menu.open {
  left: 0;
}

.side-menu nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.side-menu nav ul li {
  padding: 15px;
  margin: 5px 0;
  transition: transform 0.2s, background-color 0.2s;
}

.side-menu nav ul li:hover {
  transform: translateX(10px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.side-menu nav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.side-menu nav ul li a .menu-icon {
  margin-right: 10px;
}

.close-menu {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

/* Media queries for responsive design */
@media (max-width: 576px) {
  .side-menu {
    width: 200px;
  }
}
/* Add this to SideMenu.css */

.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: linear-gradient(135deg, #011935,#125967, #07869f);
  color: white;
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 10;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
}

.side-menu.open {
  left: 0;
}

.side-menu nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.side-menu nav ul li {
  padding: 15px;
  margin: 5px 0;
  transition: transform 0.2s, background-color 0.2s;
}

.side-menu nav ul li:hover {
  transform: translateX(10px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.side-menu nav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.side-menu nav ul li a .menu-icon {
  margin-right: 10px;
}

.close-menu {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
